.main-header {
    text-align: center;
}

body {
    font-family: monospace;
    background-color: beige;
    
}

header {
    font-size: 50px;
    padding-top: 20px;
}

a {
    color:rgb(154, 156, 14);
    font-family: monospace;
    font-weight: 900;
}

img {
    height: 30%;
    width: 30%;
}

form {
    text-align:center;
    background-color: black;
    color: white;
    border: solid salmon;
    padding: 10px;
    z-index: 1;
    width: 60%;
    margin: auto;
}

form > input {
    width: 50px;
    text-align: center;
}

form > ul > li {
    background-color: gray;
    margin: 10px;
    list-style-type: none;
    padding: 2%;
}

.header-nav {
    position: fixed;
    z-index: 2;
}

.short-intro
{
    background-color: black;
    color: white;
    border: solid salmon;
    padding: 10px;
    z-index: 1;
    width: 60%;
    margin: auto;
} 

.contact-me {
    background-color: black;
    color: white;
    border: solid salmon;
    padding: 10px;
    z-index: 1;
    width: 60%;
    margin: auto;
}

.languages {
    background-color: black;
    color: white;
    border: solid salmon;
    padding: 10px;
    z-index: 1;
    width: 60%;
    margin: auto;
}

.projects {
    background-color: black;
    color: white;
    border: solid salmon;
    padding: 10px;
    z-index: 1;
    width: 60%;
    margin: auto;
}

#reviews {
    background-color: black;
    color: white;
    border: 5px solid white;
    width: 70%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}

@media only screen and (max-width: 1200px) {
    
    .contact-me,
    .languages,
    .projects,
    form {
        width: 90%;
    }


    #header-nav-list a {

        color: rgb(255, 255, 255);
        text-align: center;
        padding: 30px 30px;
        text-decoration: none;

    }
    #header-nav-list li {
        display: inline-block; /* Display list items inline */
        font-size: 200%;
    }

    .short-intro {
        width:90%;
    }
    .header-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: saddlebrown;
        position: fixed;
        top: 0;
        width: 100%;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 1200px) {



    #header-nav-list a {
        position: absolute; /* Position them relative to the browser window */
        left: -40px; /* Position them outside of the screen */
        transition: 0.6s; /* Add transition on hover */
        width: auto; /* Set a specific width */
        text-decoration: none; /* Remove underline */
        font-size: 15px; /* Increase font size */
        color: white; /* White text color */
        background-color: black;
        border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
      }

      
    #header-nav-list a:hover {
        left: 20px; /* On mouse-over, make the elements appear as they should */
        font-size: 30px;
        width: auto;
        transform: scale(1.5,1.5);
      }
    #header-nav-list {
        line-height: 30px;
    }
    .short-intro,
    .languages,
    .contact-me,
    form {
        width: 40%;
    }
    .projects {
        width: 80%;
    }

    .container {
        flex-wrap: wrap;
        flex-direction: row;
    }

    img:hover {
        transform: scale(1.25,1.25);
    }
    #short-intro{
        order: 0;
    }
    #languages{
        order: 0;
    }
    #projects{
        order: 2;
    }
    #contact-me{
        order: 1;
    }
    #submit-form{
        order:2;
    }
}

